body {
	background-color: lavenderblush;
}

canvas {
	background-color: white;
	border: 3px solid black;
}

div {
	font-family: "arial";
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: 3px solid black;
	width: 600px;
}

#win {
	display: none;
}

#lose {
	display: none;
}